mainmenu "dragonRTOS Configuation"

menu "General"
	config ARCH
		string "arch"
		default "riscv"

	config TOOL_CHAIN
		string "tool chain path"

	source "arch/Kconfig"

	source "kernel/Kconfig"

	source "platform/Kconfig"
endmenu


